header{
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

a{
    color:aliceblue;
}

header button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 0px;

}