.categorias{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  margin: 30px auto;

}

.categorias > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 30px;
}

